.container {
  display: flex;
  height: 100vh;
  flex: 100%;
}

.sidebar {
  flex: 15%;
  /* width: 29vw; */
}

.main {
  flex: 85%;
  /* width: 81vw; */
}

/* breakpoints 975px */
@media (max-width: 975px) {
  .sidebar {
    display: none;
  }
}
