/* NAV ADMIN */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* header */
.header {
  width: 100%;
  min-width: 245px;
  max-width: 100%;
  height: 175px;
  max-height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header_admin {
  background-color: #3399cc;
}
.header_publisher {
  background-color: #842ccc;
}
.header_editor {
  background-color: #fa741a;
}
.header_img {
  height: 80px;
  width: 80px;
  margin-right: 8px;
  background-color: #ffffff;
  padding: 2px;
  border-radius: 100px;
}
.header_title {
  /* font-size: 16px; */
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
/* nav */
.nav {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  padding-inline-start: 0px;
  margin-top: 20px;
}
/* nav-item idle */
.nav_item {
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: linear all 0.2s;
}
.nav_item > div {
  height: 40px;
  width: 5px;
  border-radius: 2px;
  background-color: #ffffff; /*TODO color*/
}
.nav_item > svg {
  margin-left: 30px;
  height: 24px;
  width: 24px;
  color: #c3c0d7; /*TODO color*/
}
.nav_item > p {
  font-size: 16px;
  color: #c3c0d7; /*TODO color*/
  margin-left: 6px !important;
}
/* hover inactive admin */
.item_admin:hover {
  cursor: pointer;
  text-decoration: none;
  background: rgba(117, 162, 251, 0.2);
}
.item_admin:hover > div {
  background: rgba(117, 162, 251, 0.2);
}
.item_admin:hover > svg {
  color: #3399cc; /*TODO color*/
}
.item_admin:hover > p {
  color: #3399cc; /*TODO color*/
}
/* hover inactive publisher */
.item_publisher:hover {
  cursor: pointer;
  text-decoration: none;
  background: #842ccc38;
}
.item_publisher:hover > div {
  background: #842ccc38;
}
.item_publisher:hover > svg {
  color: #842ccc;
}
.item_publisher:hover > p {
  color: #842ccc;
}
/* hover inactive editor */
.item_editor:hover {
  cursor: pointer;
  text-decoration: none;
  background: #fa741a38;
}
.item_editor:hover > div {
  background: #fa741a38;
}
.item_editor:hover > svg {
  color: #fa741a; 
}
.item_editor:hover > p {
  color: #fa741a; 
}

/* nav-item active */
.nav_item_active {
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.active_admin {
  background: rgba(117, 162, 251, 0.2);
}
.active_publisher {
  background: #842ccc38;
}
.active_editor {
  background: #fa741a38;
}
.nav_item_active:hover {
  text-decoration: none;
}
.nav_item_active > div {
  height: 40px;
  width: 5px;
  border-radius: 2px;
}
.active_admin > div {
  background-color: #3399cc;
}
.active_publisher > div {
  background-color: #842ccc;
}
.active_editor > div {
  background-color: #fa741a;
}
.nav_item_active > svg {
  margin-left: 30px;
  height: 24px;
  width: 24px;
}
.active_admin > svg {
  color: #3399cc;
}
.active_publisher > svg {
  color: #842ccc;
}
.active_editor > svg {
  color: #fa741a;
}
.nav_item_active > p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 6px !important;
}
.active_admin > p {
  color: #3399cc;
}
.active_publisher > p {
  color: #842ccc;
}
.active_editor > p {
  color: #fa741a;
}
